


body {
    background: url(https://78.media.tumblr.com/4261d2e6f170b8989b0e05731ec5f02d/tumblr_ol46n1cmh01usdpugo4_r3_400.gif) no-repeat center fixed; 
    background-size: cover;
	 width: 360px;
  padding: 8% 0 0;
  margin: auto;
  font-family: Lucida Console;	
}

.form, .details {
  opacity: 0.8;	
  position: relative;
  z-index: 1;
  background: #ffd1dc;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.24);
}



.form input{
  
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}


input[type=submit] {


	font-family: Lucida Console;	
	background: #d1ffdd;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input[type=submit]:hover {

    background-color: white;
    color: green;
	
}



